body {
  font-family: "Roboto", sans-serif;
}
a {
  color: #885df1;
  text-decoration: none;
}
.container {
  max-width: 600px;
  margin: 45px auto;
  display: block;
  padding: 25px;
  border: #000 solid 1px;
  border-radius: 5px;
}
header {
  padding: 0 0 30px 0;
}
.city-search-input {
  width: 70%;
  border: none;
  border-bottom: 1px solid #000;
  font-size: 16px;
  padding: 15px 20px;
  margin-right: 20px;
}
.search-button-input {
  border: none;
  border-bottom: 1px solid #000;
  padding: 15px 30px;
  background: #fff;
}

.weather-app-data {
  display: flex;
  justify-content: space-between;
  padding: 0px 40px;
}
.city-name {
  margin: 0 auto;
  margin-top: 10px;
  font-size: 38px;
  line-height: 48px;
}
.current-day-details {
  margin: 0 auto;
  color: rgba(0, 0, 0, 0.4);
  font-size: 14px;
}

.weather-app-details {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 10px;
  font-size: 16px;
  color: rgba(39, 33, 66, 0.4);
  line-height: 24px;
  font-weight: 500;
  margin: 30px 0px;
}
.weather-app-details div {
  border-bottom: 1px solid #000;
}
.weather-app-temperature-container {
  display: flex;
  align-items: center;
}
.weather-app-temperature {
  font-size: 88px;
  margin-left: 10px;
  font-weight: bold;
}

.weatehr-app-unit {
  font-size: 28px;
}
.weather-app-icon {
  font-size: 45px;
}
footer {
  border-top: 1px solid #f9f7fe;
  padding: 30px 0 0 0;
  text-align: center;
  font-size: 14px;
  color: rgba(0, 0, 0, 0.6);
}
